<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Network System</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />

</head>


<!-- 引入 echarts.js -->
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/dist/echarts.js}"></script>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<!-- 引入网络图 -->


<script th:src="@{https://gw.alipayobjects.com/os/antv/pkg/_antv.g6-3.0.5-beta.12/build/g6.js}"></script>
<script th:src="@{https://gw.alipayobjects.com/os/antv/assets/lib/jquery-3.2.1.min.js}"></script>
<script th:src="@{https://gw.alipayobjects.com/os/antv/assets/lib/d3-4.13.0.min.js}"></script>
<style>
    .g6-tooltip {
        border: 1px solid #e2e2e2;
        border-radius: 4px;
        font-size: 12px;
        color: #545454;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px 8px;
        box-shadow: rgb(174, 174, 174) 0px 0px 10px;
    }
</style>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">复杂网络建模Project</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="index">原始数据</a></li>
            <li class="layui-nav-item"><a href="Attack1">攻击度数高节点</a></li>
            <li class="layui-nav-item"><a href="Attack2">随机攻击</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    项目成员
                </a>

            </li>

        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">网络属性</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript: degree()" >节点度的分布</a></dd>
                        <dd><a href="javascript: coreness()">节点coreness的分布</a></dd>

                    </dl>
                </li>

            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <script>
            function shortest_path() {
                var key = {"Type": "0", "Value": "0"};
                $.ajax({
                    type: 'POST',
                    url: "/AVGshortestPath",
                    dataType: "json",
                    data: JSON.stringify(key),
                    contentType: "application/json",
                    success: function (R) {
                        console.log(R);
                        layui.msg(R);
                    },
                    error: function () {
                        console.log("error");
                    }
                });
            }
        </script>
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">网络节点图</li>
                <li>图的度分布</li>
                <li>图的coreness分布</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div id="mountNode"></div>
                    <script>

                        file_data='Map1.json';
                        var graph = new G6.Graph({
                            container: 'mountNode',
                            width: window.innerWidth,
                            height: window.innerHeight,
                            //fitView: true,
                            //fitViewPadding: [ 20, 40, 50, 20 ],
                            autoPaint: false,
                            //layout: {
                            //  type: 'random',
                            //    width: window.innerWidth/2,
                            //    height:  window.innerHeight/2
                            //  },
                            layout: {
                                type: 'force'
                            },
                            modes: {
                                default: ['drag-canvas', {
                                    type: 'tooltip',
                                    formatText: function formatText(model) {
                                        return 'name: '+model.properties['name']+ '<br/>degree: '+model.degree
                                            +'<br/>国籍: '+model.properties['econKind']+'<br/>成就: '+model.properties['status'];
                                    }
                                }, {
                                    type: 'edge-tooltip',
                                    formatText: function formatText(model, e) {
                                        var edge = e.item;
                                        return '<' + edge.getSource().getModel().name +','+ edge.getTarget().getModel().name+'>'
                                            ;
                                    }
                                }]
                            },
                            defaultNode: {
                                size: [10, 10],
                                color: 'steelblue'
                            },
                            defaultEdge: {
                                size: 1
                            },
                            nodeStyle: {
                                default: {
                                    lineWidth: 8,
                                    fill: 'steelblue'
                                },
                                highlight: {
                                    opacity: 1
                                },
                                dark: {
                                    opacity: 0.2
                                }
                            },
                            edgeStyle: {
                                default: {
                                    stroke: '#e2e2e2',
                                    lineAppendWidth: 2
                                },
                                highlight: {
                                    stroke: '#999'
                                }
                            }
                        });
                        draw(file_data);
                        function draw(file_data){

                            function clearAllStats() {
                                graph.setAutoPaint(false);
                                graph.getNodes().forEach(function(node) {
                                    graph.clearItemStates(node);
                                });
                                graph.getEdges().forEach(function(edge) {
                                    graph.clearItemStates(edge);
                                });
                                graph.paint();
                                graph.setAutoPaint(true);
                            }
                            graph.on('node:mouseenter', function(e) {
                                var item = e.item;
                                graph.setAutoPaint(false);
                                graph.getNodes().forEach(function(node) {
                                    graph.clearItemStates(node);
                                    graph.setItemState(node, 'dark', true);
                                });
                                graph.setItemState(item, 'dark', false);
                                graph.setItemState(item, 'highlight', true);
                                graph.getEdges().forEach(function(edge) {
                                    if (edge.getSource() === item) {
                                        graph.setItemState(edge.getTarget(), 'dark', false);
                                        graph.setItemState(edge.getTarget(), 'highlight', true);
                                        graph.setItemState(edge, 'highlight', true);
                                        edge.toFront();
                                    } else if (edge.getTarget() === item) {
                                        graph.setItemState(edge.getSource(), 'dark', false);
                                        graph.setItemState(edge.getSource(), 'highlight', true);
                                        graph.setItemState(edge, 'highlight', true);
                                        edge.toFront();
                                    } else {
                                        graph.setItemState(edge, 'highlight', false);
                                    }
                                });
                                graph.paint();
                                graph.setAutoPaint(true);
                            });
                            graph.on('node:mouseleave', clearAllStats);
                            graph.on('canvas:click', clearAllStats);
                            $.getJSON(file_data, function(data) {
                                graph.data({
                                    nodes: data.nodes,
                                    edges: data.edges.map(function(edge, i) {
                                        edge.id = 'edge' + i;
                                        return Object.assign({}, edge);
                                    })
                                });
                                var simulation = d3.forceSimulation().force("link", d3.forceLink().id(function(d) {
                                    return d.id;
                                }).strength(0.5)).force("charge", d3.forceManyBody()).force("center", d3.forceCenter(window.innerWidth / 2, window.innerHeight / 2));
                                simulation.nodes(data.nodes).on("tick", ticked);
                                simulation.force("link").links(data.edges);

                                graph.render();

                                function ticked() {
                                    graph.refreshPositions();
                                    graph.paint();
                                }
                            });
                        }
                        //Demo
                        layui.use('form', function(){
                            var form = layui.form;
                            //监听提交
                            form.on('submit(formDemo)', function(data){
                                var Get_data=JSON.stringify(data.field);
                                layer.msg(Get_data);
                                file_data='test.json';
                                draw(file_data);
                                graph.render();
                                graph.refreshPositions();
                                graph.paint();
                                return false;
                            });
                        });

                    </script>
                </div>
                <div class="layui-tab-item">
                    <div id="main_0" style="width: 1080px;height:720px;"></div>
                    <script type="text/javascript">
                        // 基于准备好的dom，初始化echarts实例
                        var myChart1 = echarts.init(document.getElementById('main_0'));

                        $.get('Degree1.json', function (data) {
                            myChart1.setOption(option = {
                                title: {
                                    text: 'Degree Distribution'
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                xAxis: {
                                    data: data.map(function (item) {
                                        return item[0];
                                    })
                                },
                                yAxis: {
                                    splitLine: {
                                        show: false
                                    }
                                },
                                toolbox: {
                                    left: 'center',
                                    feature: {
                                        dataZoom: {
                                            yAxisIndex: 'none'
                                        },
                                        restore: {},
                                        saveAsImage: {}
                                    }
                                },

                                visualMap: {
                                    top: 10,
                                    right: 10,
                                    pieces: [{
                                        gt: 0,
                                        lte: 50,
                                        color: '#096'
                                    }, {
                                        gt: 50,
                                        lte: 100,
                                        color: '#ffde33'
                                    }, {
                                        gt: 100,
                                        lte: 150,
                                        color: '#ff9933'
                                    }, {
                                        gt: 150,
                                        lte: 200,
                                        color: '#cc0033'
                                    }, {
                                        gt: 200,
                                        lte: 300,
                                        color: '#660099'
                                    }, {
                                        gt: 300,
                                        color: '#7e0023'
                                    }],
                                    outOfRange: {
                                        color: '#999'
                                    }
                                },
                                series: {
                                    name: 'Number',
                                    type: 'line',
                                    data: data.map(function (item) {
                                        return item[1];
                                    }),
                                    markLine: {
                                        silent: true,
                                        data: [{
                                            yAxis: 50
                                        }, {
                                            yAxis: 100
                                        }, {
                                            yAxis: 150
                                        }, {
                                            yAxis: 200
                                        }, {
                                            yAxis: 300
                                        }]
                                    }
                                }
                            });
                        });

                        // 使用刚指定的配置项和数据显示图表。
                        myChart1.setOption(option);

                    </script>
                    <table class="layui-table">
                        <colgroup>
                            <col width="150">
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>变量名称</th>
                            <th>值</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>贤心</td>
                            <td>2016-11-29</td>
                        </tr>
                        <tr>
                            <td>许闲心</td>
                            <td>2016-11-28</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="layui-tab-item">
                    <div id="main_1" style="width: 1080px;height:720px;"></div>
                    <script type="text/javascript">
                        // 基于准备好的dom，初始化echarts实例
                        var myChart = echarts.init(document.getElementById('main_1'));

                        $.get('Corness1.json', function (data) {
                            myChart.setOption(option = {
                                title: {
                                    text: 'Degree Distribution'
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                xAxis: {
                                    data: data.map(function (item) {
                                        return item[0];
                                    })
                                },
                                yAxis: {
                                    splitLine: {
                                        show: false
                                    }
                                },
                                toolbox: {
                                    left: 'center',
                                    feature: {
                                        dataZoom: {
                                            yAxisIndex: 'none'
                                        },
                                        restore: {},
                                        saveAsImage: {}
                                    }
                                },

                                visualMap: {
                                    top: 10,
                                    right: 10,
                                    pieces: [{
                                        gt: 0,
                                        lte: 50,
                                        color: '#096'
                                    }, {
                                        gt: 50,
                                        lte: 100,
                                        color: '#ffde33'
                                    }, {
                                        gt: 100,
                                        lte: 150,
                                        color: '#ff9933'
                                    }, {
                                        gt: 150,
                                        lte: 200,
                                        color: '#cc0033'
                                    }, {
                                        gt: 200,
                                        lte: 300,
                                        color: '#660099'
                                    }, {
                                        gt: 300,
                                        color: '#7e0023'
                                    }],
                                    outOfRange: {
                                        color: '#999'
                                    }
                                },
                                series: {
                                    name: 'Number',
                                    type: 'line',
                                    data: data.map(function (item) {
                                        return item[1];
                                    }),
                                    markLine: {
                                        silent: true,
                                        data: [{
                                            yAxis: 50
                                        }, {
                                            yAxis: 100
                                        }, {
                                            yAxis: 150
                                        }, {
                                            yAxis: 200
                                        }, {
                                            yAxis: 300
                                        }]
                                    }
                                }
                            });
                        });

                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);

                    </script>
                    <table class="layui-table">
                        <colgroup>
                            <col width="150">
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>变量名称</th>
                            <th>值</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>贤心</td>
                            <td>2016-11-29</td>
                        </tr>
                        <tr>
                            <td>许闲心</td>
                            <td>2016-11-28</td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>
</div>
<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;
        element.on('tab(docDemoTabBrief)', function(data){
            console.log(this); //当前Tab标题所在的原始DOM元素
            console.log(data.index); //得到当前Tab的所在下标
            console.log(data.elem); //得到当前的Tab大容器
        });

        //…
    });
</script>


<div class="layui-footer">
    <!-- 底部固定区域 -->
    © HITSZ
</div>
</div>




</body>

</html>